<div id="sidebar">
    <div class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li class="open active conditional-bg">
                <a href="#" class="dropdown-toggle">
                    <i class="icon-home"></i>
                    <span>آچار</span>
                </a>
                <ul>
                    <a href="@Url.Content("~/Admin/Users/Index")" class="current">
                        <i class="icon-home"></i>
                        <span>کاربران</span>
                    </a>

                </ul>
            </li>
        </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->