@page
@model Achar.Endpoint.Razor.Areas.Customer.Pages.DeleteModel
@{
}
@{
    Layout = "_LayoutCustomer";
    ViewData["DeleteAccount"] = "active";

}

<h2> حذف اکانت مشتری</h2>

<div class="alert alert-warning">
    <strong>اخطار:</strong> قبل از حذف اکانت، لطفاً مطمئن شوید که قصد حذف  دارید.
</div>

@{
    ViewData["Title"] = "حذف اکانت";
}

<h3>حذف تسک</h3>

<div>
    <h4>آیا  حذف  اکانت اطمینان دارید؟</h4>
    <form method="post" asp-page-handler="Delete">
        <button type="submit" class="btn btn-danger btn-sm">حذف</button>
        <a href="@Url.Page("/Customer/Index")" class="btn btn-secondary btn-sm">بازگشت</a>
    </form>


</div>